{% extends 'crud/basic.html' %}

{% block body %}
<div class="container">
	<h3>Addmission Create:</h3>
	<form action="/stored/" method="post">
    {% csrf_token %}
  <div class="form-group">
    <label for="name">Enter Name</label>
    <input type="text" class="form-control" id="name" name="name" aria-describedby="emailHelp" placeholder="Enter your name">
  </div>  
  <div class="form-group">
    <label for="email">Enter email</label>
    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter your email">
  </div> 
   <div class="form-group">
    <label for="password">Enter password</label>
    <input type="password" class="form-control" id="password" name="password" aria-describedby="emailHelp" placeholder="Enter your password">
  </div> 
   <div class="form-group">
    <label for="phone">Enter phone number</label>
    <input type="tel" class="form-control" id="phone" name="phone" aria-describedby="emailHelp" placeholder="Enter your phone number">
  </div> 
   <div class="form-group">
    <label for="wclass">Enter class</label>
    <input type="text" class="form-control" id="wclass" name="wclass" aria-describedby="emailHelp" placeholder="Enter your class name">
  </div> 
   <div class="form-group">
    <label for="stream">Enter stream</label>
    <input type="text" class="form-control" id="stream" name="stream" aria-describedby="emailHelp" placeholder="Enter your stream">
  </div> 
   <div class="form-group">
    <label for="fees">Enter paid fees</label>
    <input type="number" class="form-control" id="fees" name="fees" aria-describedby="emailHelp" placeholder="Enter your fees">
  </div> 
   <div class="form-group">
    <label for="pending_fees">Enter pending fees</label>
    <input type="number" class="form-control" id="pending_fees" name="pending_fees" aria-describedby="emailHelp" placeholder="Enter your pending fees">
  </div> 
   <div class="form-group">
    <label for="dob">Enter your Date of birth</label>
    <input type="Date" class="form-control" id="dob" name="dob" aria-describedby="emailHelp" placeholder="Enter your date of birth">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>


</div>




{% endblock %}